details {
    background-color:rgb{145,110,78};
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

.tipIdea{
padding:10px;
border-radius:10px;
border: solid #FFFF00;
background:#FFFF00; 
color:000000
}