
details {
    background-color: rgba(145,110,50,0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}
/*Classes for BOXES*/
.tipBox{
font-style: italic;
padding:10px;
border-radius:10px;
border: solid #d89f03;
background:#fde13ff8; 
color:black;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.noteBox {
    position: relative;
    width: 60%;
    border: 1px solid #450647;
    background-color: #c66dd8;
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.noteBox b{
    color: rgb(235, 255, 57);
}
.mainBox
{
    padding:10px;border-radius:10px;border: solid #126AAF;
    background:rgb(29, 184, 150);
    color: rgb(0, 0, 0)
}
.mainBox b
{
    color: rgb(7, 9, 97);
    -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@import url("https://fonts.googleapis.com/css?family=Marvel:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Marvel", sans-serif;
  background-color: yellow;
}

#info {
  background-color: yellow;
  padding: 2rem 0;
}

.row {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: rgba(255, 255, 0, 0);
}

.card {
  display: inline-block;
  width: 45%;
  padding: 4rem 1rem 7rem 1rem;
  background-color: teal;
  position: relative;
}
.card:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background-color: rgba(135, 207, 235, 0);
  top: 0px;
  right: 0px;
  border-bottom: 20px solid #006767;
  border-left: 20px solid #006767;
  border-right: 20px solid rgba(255, 255, 0, 0);
  border-top: 20px solid rgba(255, 255, 0, 0);
  position: absolute;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
}
.card:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 40px solid #006767;
  border-right: 40px solid #006767;
  border-left: 40px solid rgba(255, 255, 0, 0);
  border-bottom: 40px solid rgba(255, 255, 0, 0);
  bottom: 0px;
  left: 0px;
  position: absolute;
  filter: drop-shadow(7px -7px 5px rgba(0, 0, 0, 0.5));
  margin-right: 10%;
}
.card:nth-of-type(1) {
  margin-right: 9%;
}
.card h2 {
  color: snow;
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card p {
  color: snow;
  font-size: 1.1rem;
  line-height: 140%;
}